.card__content {
  width: 20rem;

  img {
    width: 100%;
  }
}

.card__border {
  -webkit-box-shadow: 7px 9px 26px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 7px 9px 26px 1px rgba(0,0,0,0.15);
  box-shadow: 7px 9px 26px 1px rgba(0,0,0,0.15);

  margin: 20px;
}

.card__heading {
  margin: 10px 0;
  text-align: center;
}

.card__link {
  text-decoration: none;
  color: black;
}
